.ripple-button {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg, #0162c8,#55e7fc);
  box-shadow: 2px 2px 5px #c8ced470;
  transition: transform 0.2s ease-out;
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.96);
  }
}

.ripple-effect {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: ripple var(--animation-ripples-speed) linear infinite;
}

@keyframes ripple {
  from {
    width: 0px;
    height: 0px;
    opacity: 0.4
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  } 
}
