@import '../../styles/_base.scss';

.form-card-container {
  position: relative;
	display: flex;
	flex-wrap: wrap-reverse;
  width: 50vw;
	box-shadow: 0 0 20px 0px #57430185;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 auto;
  padding: 4%;
  
  @include rwd(800) {
    width: 80vw;
  }

  @include rwd(505) {
    width: 95vw;
  }
}