@import '../../styles/base';

.form-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1 1 150px;
  @include rwd(1360) {
    height: auto;
    margin-bottom: 10px;
  }
  @include rwd(1060) {
    display: none
  }

  img {
    width: 80%;
  }

  .info-text {
    font-size: 1em;
    font-style: italic;
    margin-top: 15px;
    
    &:nth-of-type(1) {
      margin-top: 40px;
      transform: translate(-10px);;
      transition: all 500ms ease-out;
      @include rwd(1180) {
        transform: translate(10px);
      }
    }
    &:nth-of-type(2) {
      transform: translate(40px);
    }
  }
}