.logged-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
  .content-info {
    display: flex;
    align-items: center;
    h1 {
      margin-left: 10px;
      font-size: 1.3rem;
    }
  }
  .logo {
    position: absolute;
    width: 150px;
    top:20px;
    left: 20px;

  }
}