input[type="text"],
input[type="password"] {
	font-size: 0.9rem;
	line-height: 40px;
	padding: 0 12px;
	width: 270px;
	border-radius: 40px;
	border: none;
	box-shadow: 0px 0px 20px 0px #e09220;
	width: 100%;

	&:focus {
		outline: none;
	}

	&.error-input {
		box-shadow: 0px 0px 15px 0px #e10000b3
	}

	&.correct-input {
		box-shadow: 0px 0px 20px 0px #009f01b3;
	}
}

