.form-card-container {
  position: relative;
	display: flex;
	flex-wrap: wrap-reverse;
  width: 50vw;
  height: 50vh;
	box-shadow: 0 0 20px 0px #57430185;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 auto;
  padding: 24px 40px;
}

img.form-card-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  
}