.form-card-container {
	display: flex;
	flex-wrap: wrap;
  width: 50vw;
  height: 50vh;
	box-shadow: 0 0 20px 0px #57430185;
	border-radius: 10px;
	background-color: #fff;
	margin: 0 auto;
	padding: 24px 40px;
}